<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.sun.mapper.BlogMapper">

    <insert id="saveBlog">
        insert into blogs(title, description, content, created, status, label,user_id)
        values(#{blogDao.title}, #{blogDao.description}, #{blogDao.content}, #{blogDao.created}, #{blogDao.status},
        #{blogDao.label},#{blogDao.userId})
    </insert>

    <update id="updateBlog">
        update blogs
        set title=#{blogDao.title},
            description=#{blogDao.description},
            content=#{blogDao.content},
            created=#{blogDao.created},
            status=#{blogDao.status},
            label=#{blogDao.label},
            user_id=#{blogDao.userId}
        where id = #{blogDao.id}
    </update>


    <select id="getBlogList" resultType="com.blog.sun.common.dao.BlogDao">
        select * from blogs order by created desc
    </select>
    <select id="getBlogById" resultType="com.blog.sun.common.dao.BlogDao">
        select * from blogs where id=#{blogId}
    </select>
    <select id="searchBlogsLikeTitleOrDescription" resultType="com.blog.sun.common.dao.BlogDao">
        select *
        from blogs
        where title like concat('%', #{keyword}, '%')
           or description like concat('%', #{keyword}, '%')
    </select>
    <select id="queryByLabel" resultType="com.blog.sun.common.dao.BlogDao">
        select * from blogs where label=#{label}
    </select>
    <select id="queryAllTags" resultType="Object">
        select distinct label from blogs
    </select>
</mapper>
