<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.sun.mapper.UserMapper">

    <insert id="registerUser">
        insert into USERS (username, password, email, avatar, status, created, id)
        values (#{userDao.username}, #{userDao.password}, #{userDao.email}, #{userDao.avatar}, #{userDao.status},
                #{userDao.created}, #{userDao.id})
    </insert>

    <update id="changeUserLoginState">
        UPDATE USERS
        SET status = CASE WHEN status = '1' THEN 0 ELSE 1 END
        WHERE id = #{userId};
    </update>

    <select id="checkUserExist" resultType="com.blog.sun.common.dao.UserDao">
        select *
        from USERS
        where username = #{username}
        union
        select *
        from USERS
        where email = #{email}
    </select>
    <select id="getUserByUserName" resultType="com.blog.sun.common.dao.UserDao">
        select *
        from USERS
        WHERE username = #{username}
    </select>
    <select id="getUserByUserId" resultType="com.blog.sun.common.dao.UserDao">
        select *
        from users
        where id = #{userId}
    </select>
</mapper>
